<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BUTANG AND FIELD</title>
  <meta name="description" content="Wirediki App">
  <!-- Latest compiled and minified CSS -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="js/app.js"></script>
</head>
<body ng-app="test">
          <hr>

          <div class="jumbotron text-center">
             <div class="container">
                 <h1>Search by Attribute</h1>
            </div>
          </div>

          <hr>


  <!--      <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
                    <input type="text" class="form-control" placeholder="search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Cari</button>
                      </span>
                  </div>
                </div>
              </div><!--end of search field-->

              <hr>

  <!--   <div class="row">
       <div class="col-lg-4">
         <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">Search By<span class="caret"></span></button>
               <ul class="dropdown-menu dropdown-menu-right">
                 <li><a href='#'>Nama</a></li>
                 <li><a href='#'>Pekerjaan</a></li>
                 <li><a href="#">Alamat</a></li>
                 <li><a href="#">Umur</a></li>
                 <li><a href="#">Experience</a></li>
                 <li><a href="#">Status</a></li>
                 <li role="separator" class="divider"></li>
                 <li><a href="#">Atribute lain</a></li>
               </ul>
             </div><!-- /btn-group-->
          </div><!--/input-group-->
        </div><!--/col-lg-6-->
      </div><!--end of search-by field-->

      <hr>

<!--      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
             <input type="text" class="form-control" placeholder="Search for...">
             <div class="input-group-btn">
               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Search By<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href='#'>PRT</a></li>
                  <li><a href='#'>SKILLED LABOR</a></li>
                  <li><a href="#">GENERAL LABOR</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Atribute lain</a></li>
                </ul>
              </div><!-- /btn-group-->
           </div><!--/input-group-->
         </div><!--/col-lg-6-->
       </div><!--end of search-by field-->

       <hr>

<!--form-action-->
       <div class="container" ng-controller="attributeController">
         <div class="well">
           <div class="row">
             <div class="col-xs-2">
               <div class="form-group">
                 <label for="prof">Profesi</label>
                 <select class="form-control" id="prof">
                   <option>Semua</option>
                   <option>Baby Sitter</option>
                   <option>Perawat Lansia</option>
                   <option>Tukang kebun</option>
                   <option>ART</option>
                 </select>
               </div>
             </div>
               <div class="col-xs-2">
                 <div class="form-group">
                   <label for="ktg">Kategori</label>
                   <select class="form-control" id="ktg">
                     <option>Semua</option>
                     <option>Sudah Tersedia</option>
                     <option>Segera Tersedia</option>
                     <option>Tenaga Infal</option>
                   </select>
                 </div>
               </div>
               <div class="col-xs-2">
                 <div class="form-group">
                   <label for="gjbln">Gaji Bulanan</label>
                   <select class="form-control" id="gjbln">
                     <option>Semua</option>
                     <option>Rp 500000</option>
                     <option>Rp 1000000</option>
                     <option>Rp 1500000</option>
                     <option>Rp 2000000</option>
                     <option>Rp 2500000</option>
                     <option>Rp 3000000</option>
                   </select>
                 </div>
               </div>
               <div class="col-xs-2">
                 <div class="form-group">
                   <label for="sts">Status</label>
                   <select class="form-control" id="sts">
                     <option>Semua</option>
                     <option>Menikah</option>
                     <option>Janda</option>
                     <option>Duda</option>
                     <option>Lajang</option>
                   </select>
                 </div>
               </div>
               <div class="col-xs-2">
                 <div class="form-group">
                   <label for="agama">Agama</label>
                   <select class="form-control" id="agama">
                     <option>Semua</option>
                     <option ng-repeat="religion in religions">{{religion}}</option>
            <!--         <option>Islam</option>
                     <option>Kristen</option>
                     <option>Budha</option>
                     <option>Hindu</option>   -->
                   </select>
                 </div>
               </div>
               <div class="col-xs-2">
                 <div class="form-group">
                   <label for="pndtr">Pendidikan Terakhir</label>
                   <select class="form-control" id="pndtr">
                     <option>Semua</option>
                     <option>SD</option>
                     <option>SMP</option>
                     <option>SMA</option>
                     <option>Sarjana</option>
                   </select>
                 </div>
               </div>
               <div class="col-xs-2">
                 <div class="form-group">
                   <label for="suku">Suku Asal</label>
                   <select class="form-control" id="suku">
                     <option>Semua</option>
                     <option>Jawa</option>
                     <option>Sunda</option>
                     <option>NTT</option>
                     <option>Melayu</option>
                   </select>
                 </div>
               </div>
               <div class="col-xs-2">
                 <div class="form-group" >
                   <label for="usia">Usia</label>
                   <select class="form-control" id="usia" placeholder="semua">
                     <option>Semua</option>
                     <option ng-repeat="age in ages">{{age}}</option>
                <!--     <option>17</option>
                     <option>18</option>
                     <option>20</option>
                     <option>25</option>
                     <option>26</option>
                     <option>30</option>
                     <option>32</option>
                     <option>35</option>
                     <option>38</option>
                     <option>40</option>
                     <option>42</option>
                     <option>45</option>
                     <option>50</option>
                     <option>55</option>  -->
                   </select>
                 </div>
               </div>
               </div>
             </div>
           </div>
         <div class="container text-center">
           <div class="btn-group">
             <a href="" class="btn btn-lg btn-info">Cari</a>
           </div>
         </div>

             <hr>


     <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
     <!-- Latest compiled and minified JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
 </html>
